<div class="sidebar">
<img src="/images/picture.jpg" alt="Ajit's Pic" class="align-right" >

    <div class="sidebar-about">
        <h3>
          <a href="/home/">
            {{ site.title }}
          </a>
        </h3>


      <!-- <p class="lead">
                {{ site.description }}
      </p> -->
    </div>

    <nav class="sidebar-nav">

      <!-- other tab according to _data/navigation.yml order  -->
      {% for link in site.data.navigation.main %}
        <a class="sidebar-nav-item{% if page.url == link.url %} active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}

      <a class="sidebar-nav-item" href="mailto:vgalle4@mail.com"> Email </a>
      <a class="sidebar-nav-item" href="/files/Resume.pdf" target="_blank"> Resume </a>
      <a class="sidebar-nav-item" href="/files/CV.pdf" target="_blank"> CV </a>
      <a class="sidebar-nav-item" href="https://github.com/vgalle" target="_blank"> GitHub </a>
      <a class="sidebar-nav-item" href="https://scholar.google.com/citations?user=vYQW6aoAAAAJ&hl=en"> Google Scholar </a>
      <a class="sidebar-nav-item" href="https://www.linkedin.com/pub/virgile-galle/9b/658/429" target="_blank"> LinkedIn </a>

    </nav>
    <div class="container sidebar-sticky">
  </div>
</div>
